body {
  background-color: #333;
  color: #ccc;
}

.title {

  text-align: center;
}
.row {
  max-width: 604px;
  margin: auto;
}
.col-md {
  color: #333;
  font-size: 5em;
  text-align: center;
  vertical-align: middle;
  background-color: #ccc;
  height: 200px;
  width: 200px;
  border: 1px solid white;
}
