body {
  background-color: #333;
  color: #ccc;
}

.title {

  text-align: center;
}
.row {
  max-width: 604px;
  margin: auto;
}
.col-md {
  padding-top: 30px;
  line-height: 80%;
  color: #333;
  font-size: 10em;
  text-align: center;
  vertical-align: middle;
  background-color: #ccc;
  height: 200px;
  width: 200px;
  border: 1px solid white;
}
.col-md:hover {
  background-color: #dedfe0;
  cursor: pointer;
}
#victory{
  display: none;
  text-align: center;
}

#victory h1{
  font-size: 10em;
  color: pink;
}
.btn:hover {
  cursor: pointer;
}
